{{ extends "/default.html" }}

{{ define "content"}}
<div id="content">
	<article class="post">
		<div class="row">
			<div class="col-lg-12">

				<h1 class="post-title">{{ .Article.Title }}</h1>
				<div class="post-meta"><span>By</span> <a href="#" title="{{ .Article.Author.Name }}">{{ .Article.Author.Name }}</a>,  <time datetime="{{DateFormat .Article.PublishedAt "%Y-%m-%d"}}">{{ DateFormat .Article.PublishedAt "%b %d, %Y"}}</time></div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="post-content">
					{{Html .Article.Html }}
				</div>
				<div class="post-share">
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/sharer/sharer.php" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="button button-social button-facebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://twitter.com/share?text=Kindle%20and%20e-books%20revived%20reading%2C%20study%20shows&amp;url=" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="button button-social button-twitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/share?url=" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="button button-social button-google-plus" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="http://www.linkedin.com/shareArticle" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" class="button button-social button-linkedin" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="mailto:" class="button button-social" title="Share via email"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="post-comments">
					<h2>Comments</h2>
					<div class="row">
						<div class="col-lg-12">
							{{ include "comment.html" }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
{{end}}
