<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{if .Title}}{{.Title}} - {{end}}{{Setting "title"}}</title>
    <meta name="description" content="" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/css/screen.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <meta property="twitter:site" content="@TryGhost">
    <meta property="twitter:domain" content="Ghost.org" />
    <meta property="og:site_name" content="Ghost" />
    <meta property="fb:admins" content="511697361" />

  </head>
  <body>

    <header id="header">
      <div id="top">
        <div class="container clearfix">
          <div id="logo">
            <h1 class="site-title"><a class="logo-text" href="{{ Setting "url" }}">{{ Setting "title" }}</a></h1>
          </div>
        </div>
      </div>
      <!-- / top -->
      <nav id="nav">
        <div class="container clearfix">
          <a href="#" id="mobile-nav-trigger">Show Navigation</a>
          <ul class="nav">
            {{range Navigator}}
              <li class="nav-home" role="presentation"><a href="{{ .Url }}">{{ .Label }}</a></li>
            {{end}}
          </ul>
        </div>
      </nav>
      <!-- / navigation -->
    </header>
    <!-- / header -->
    <main id="main" class="container">
    <div id="wrapper" class="clearfix">
      {{ template "content" }}
      {{ include "sidebar.html" }}
    </div>
    <!-- / wrapper -->
    </main>
    <!-- / main -->

    <footer id="footer">
      <div class="container">
        <div class="row footer-wrapper">
          <div class="col-md-8">
            <ul class="nav">
              {{range Navigator}}
                <li class="nav-home nav-current" role="presentation"><a href="{{ .Url }}">{{ .Label }}</a></li>
              {{end}}
            </ul>
            <div class="copyright">© Copyright</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->

    <!-- Loading: jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Loading: Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/lib/jquery.form.min.js"></script>
    <script src="/lib/marked.min.js"></script>
    <script src="/js/prism.js"></script>

    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
